<div class="row">
  <div class="col-md-3 text-center">
    <%= image_tag avatar_url(@other), class: "img-circle avatar-medium", id: "avatar-other" %>
    <br/>
    <strong>
      <%= @other.fullname %>
      <%= link_to "View Profile", @other, class: "btn btn-default wide" %>
    </strong>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Conversation with <%= @other.fullname %>
      </div>
      <div class="panel-body">
        <div class="container">
          <%= form_for [@conversation, @conversation.messages.new], remote: true do |f| %>
            <div class="form-group">
              <%= f.text_area :content, id: "new_message", placeholder: "Add a personal message", class: "form-control" %>
            </div>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="actions">
              <%= f.submit "Send Message", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="chat">
      <%= render "messages" %>
    </div>
    <script src="//js.pusher.com/3.0/pusher.min.js"></script>
    <script>
      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
        if (window.console && window.console.log) {
          window.console.log(message);
        }
      };

      var pusher = new Pusher('<%= Pusher.key %>');
      var channel = pusher.subscribe('<%= @conversation.id %><%= current_user.id %>');
      channel.bind('greet', function(data) {
        var html = "";
        html += '<div class="panel">';
        html += '<div class="panel-body">';
        html += '<img class="img-circle avatar-small" src="' + $("#avatar-other").attr("src") + '" alt="Picture">'
        html += '<strong>' + data.fullname + '</strong>';
        html += '<span class="pull-right">' + data.time + '</span> <br>';
        html += '<div class="row-space-2">' + data.content + '</div></div></div>';

        $("#chat").prepend(html);
      });
    </script>
  </div>
</div>